.orange-bg{
    background-color: #fceae8;
    padding: 20px 40px;
}
.container{
    margin-bottom: 100px;
}
.button{
    background-image: linear-gradient(35deg,yellow,orange);
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}
.dollar{
    color: rgb(168, 75, 90);
}
.cat1{
    background-image: linear-gradient(35deg,red,orange);
    padding: 20px 20px;
    border-radius: 10px;
}
.cat2{
    background-image: linear-gradient(35deg,red,purple);
    padding: 20px 20px;
    border-radius: 10px;
}
.cat3{
    background-image: linear-gradient(35deg,red,blue);
    padding: 20px 20px;
    border-radius: 10px;
}
.cat1,.cat2,.cat3{
    height: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
}
#subscribe{
    border-radius: 10px;
}
footer{
    font-size: 20px;
}